RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|png|gif|css|js|ico)$

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]