@import 'rootstyle';


.loginWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 2rem;
}

.info {
    max-width: 40%;

    h1{
        font-size: 3rem;
        color: #5a5a5a;
    }
}

.loginContainer,
.registerContainer {
    width: 300px;
    background-color: #202020;
    box-shadow: 3px 3px 0.5rem var(--accentColor);
    padding: 20px;
    border-radius: 5px;

    div {
        margin-bottom: 10px;
    }
    h2 {
        color: #5a5a5a;
        width: 100%;
        margin-left: 1rem;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: var(--mainBackground);
        color: white;
    }

    input[type="submit"] {
        background-color: #17a6b9;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        &:hover{
            background-color: var(--accentColor)
        }
    }
    a{
        color:white;

        &:hover{
            color: var(--accentColor);
        }
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}