@import 'rootvalues';


// #########################################
//         Navigation bar styling
// #########################################
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--navBackground);
    vertical-align: middle;
    height: 5rem;
    width: 100vw;
    
    a {
        text-decoration: none;
        color: white;
        margin: 1rem;

        &:hover{
            text-decoration: underline;
        }
    }
    .logo {
        height:90%;
    }
    .logo a img {
        height: 100%;
    }


    #lSearch{
        border-radius: 1rem;
        text-indent: 1rem;
        height: 3rem;
        width: 30rem;
    }
}





